.alerta {
    padding: .3rem;
    text-align: center;
    color: $blanco;
    font-weight: bold;
    text-transform: uppercase;
    margin: .5rem 0;

    &.error {
        background-color: $rojo;
    }

    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 3rem;
    width: 100%;
    border-spacing: 2;

    thead {
        background-color: $verde;

        th {
            color: $blanco;
            padding: .5rem 2rem;
        }
    }

    tbody {
        tr {
            text-align: center;
        }
        td {
            width: 0 auto;
        }
    }

    .imagen-tabla {
        width: 10rem;
    }
}

.image-form {
    width: 20rem;
}